<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudentHelpCenter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abcd"
        tools:targetApi="31">
        <activity
            android:name=".adminfeature.AllAdminDisplay"
            android:exported="false" />
        <activity
            android:name=".DynamicModelsActivity"
            android:exported="false" />
        <activity
            android:name=".ExtrateacherFeatures.examTimeTableCreation"
            android:exported="false" />
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ExamQuizes.quizesAnalyses"
            android:exported="false" />
        <activity
            android:name=".ExamQuizes.QuizResultsActivity"
            android:exported="false" />
        <activity
            android:name=".ExamQuizes.CreateNewQuizes"
            android:exported="false" />
        <activity
            android:name=".ExamQuizes.examQuizesMainActivity"
            android:exported="false" />
        <activity
            android:name=".ExamQuizes.addQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".userMessaging.userSearchingActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenTication.login.loginActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenTication.regestration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenTication.regestration.Registration2"
            android:exported="false" />
        <activity
            android:name=".AuthenTication.regestration.Registration3"
            android:exported="false" />
        <activity
            android:name=".EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".adminfeature.MessageEditViewAdmin"
            android:exported="false" />
        <activity
            android:name=".notificationSection.NotifictionActivity"
            android:exported="false" />
        <activity
            android:name=".availableAdminPage"
            android:exported="false" />
        <activity
            android:name=".userSearch.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".userSearch.userSearchingActivity"
            android:exported="false" />
        <activity
            android:name=".ocrcapture.ocrcapture"
            android:exported="false" />
        <activity android:name=".userMessaging.ChatActivity" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".imagesizecompresor"
            android:exported="false" />
        <activity
            android:name=".MathFeature.CGPACalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".MathFeature.EquationSolutionActivity"
            android:exported="false" />
        <activity
            android:name=".MathFeature.EquationSolver"
            android:exported="false" />
        <activity
            android:name=".MathFeature.MathFeatures"
            android:exported="false" />
        <activity
            android:name=".storage"
            android:exported="false" />
        <activity
            android:name=".midjourney"
            android:exported="false" />
        <activity
            android:name=".gemini"
            android:exported="false" />
        <activity
            android:name=".Chatgpt"
            android:exported="false" />
        <activity
            android:name=".selectChatModel"
            android:exported="false" />
        <activity android:name=".adminfeature.insertAiApiKey" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths1" />
        </provider>

        <activity
            android:name=".chataiwithdistilgpt2"
            android:exported="false" />
        <activity
            android:name=".PDFWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".videoplayers1.MainActivity"
            android:exported="false" />
        <activity
            android:name=".videoplayers1.VideoShowActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".videoplayers1.PlaylistShowActivity"
            android:exported="false" />
        <activity
            android:name=".SemestersActivity"
            android:exported="false" />
        <activity
            android:name=".bca_help"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".mainDashBoard"
            android:exported="false"
            android:label="@string/title_activity_main_dash_board" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity1"
            android:exported="false" />
        <activity
            android:name=".loginActivity2"
            android:exported="false"
            android:theme="@style/Theme.Abcd" />
        <activity
            android:name=".QuizQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".RewardActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity android:name=".MessagingActivity" />
        <activity
            android:name=".SubjectSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendLiveMessageActivity"
            android:exported="true" />
    </application>

</manifest>