<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abcd"
        tools:targetApi="31">
        
        <activity
            android:name=".bca_help"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".mainDashBoard"
            android:exported="false"
            android:label="@string/title_activity_main_dash_board" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity1"
            android:exported="false" />
        <activity
            android:name=".loginActivity2"
            android:exported="false"
            android:theme="@style/Theme.Abcd" />
        <activity
            android:name=".QuizQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".RewardActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>